!!!
%html
 %body
 .chat-side
  .chat-side__user
   .chat-side__user__content
    .chat-side__user__name
     User Name
    %a{ class: 'chat-side__user--new-group', href: '#' }
     %i.fa.fa-pencil-square-o
    %a{ class: 'chat-side__user--edit-user', href: '#' }
     %i.fa.fa-cog
  .chat-side__groups
   .chat-side__groups-list
    %a{ href:'#' }
     .chat-side__group
      .chat-side__group-name
       group1
      .chat-side__group-message
       message1
