.chat-main{
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;
  &__header{
    height: 15%;
    border: 1px solid #eee;
    &--group{
      margin: 0 40px;
      .chat-main__header--group-name{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }
      .chat-main__header--group-edit-btn{
        color: #38AEF0;
        font-size: 15px;
        margin: 28px 20px 0;
        padding: 12.5px 20px;
        border: 1px solid #38AEF0;
        float: right;
      }
    }
    .chat-main__header-members{
      color: #999;
      font-size: 12px;
      margin: 0 40px;
      text-align: left;
      clear: both;//--groupの子要素の高さを認識させる
    }
  }
  &__body{
    height: calc( 100vh - 15% - 90px );//オーバーフローするためfooterを15%とした。
    overflow-y: scroll;
    &--messages-list{
      padding-top: 26px;
      padding-left: 40px;
      .chat-main__message{
        padding: 20px 0;
        .chat-main__message-name{
          color: #434A54;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }
        .chat-main__message-time{
          color: #999;
          font-size: 12px;
          padding:0 10px 10px;
          float: left;
        }
        .chat-main__message-body{
          color: #434A54;
          clear:both;//nameとtimeの要素の高さを認識させる
        }
      }
    }
  }
  &__footer{
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;
    .chat-main__footer-form{
      margin:0 40px;
      position: relative;
      .chat-main__footer-body{
        position: relative;
        .message{
          height: 55%;
          width: calc( 100% - 145px );
          padding: 15px 10px;
          margin: 20px 0;
          border: none;
        }
        .chat-file{
          height: 50px;
          width: 40px;
          margin: 32px 110px 20px 0;
          position: absolute;
          top: 0;
          right: 0;
            .image{
              position: absolute;
              top: 15px;
              left: 15px;
              display: none;
            }
            .fa-image{
            }
          }
      }
      .submit{
        color: $main_font_color;
        width: 100px;
        height: 50px;
        text-align: center;
        background-color: $skyblue;
        margin: 20px 0;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
      }
    }
  }
}
